@{
    ViewData["Title"] = "Marca";
}
<section class="content-header">
    <h1>@ViewData["Title"]</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Marca</li>
    </ol>
</section>
<section class="content">
    <p>Use this page to detail your site's privacy policy.</p>
</section>